*~

# ignore normaliz executables
norm32*
norm64*
normbig*
normaliz
normaliz-*
nmzIntegrate
Qnormaliz

# ignore executable tools
collectcols
transpose

# ignore object files
obj*
*.[ao]
BUILD*

# ignore normaliz output files
*.out
*.intOut
*.gen
*.egn
*.cst
*.ht1
*.esp
*.ext
*.typ
*.tri
*.tgn
*.dec
*.inv
*.lat
*.mod
*.aut


# ignore latex output files
*.ps
*.dvi
*.aux
*.idx
*.toc
*.log
*.backup
*.gz
*.blg
*.bbl

# ignore WinEdt etc. backup files
*.bak
*.sav
.*.swp
*.diff

# ignore Word files
homepage/*-Dateien/*
/Makefile
/Makefile.in
/aclocal.m4
autom4te.cache
/compile
/depcomp
/install-sh
/libtool
/ltmain.sh
/config.guess
/config.status
/config.sub
/configure
/missing
.deps
.libs
.dirstamp
*.la
*.lo
/source/Makefile
/source/Makefile.in
/Qsource/Makefile
/Qexample/Makefile
/Qtest/Makefile
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/test/Makefile.in
/example/Makefile.in
/source/libnormaliz/version.h
/example/Makefile
/test/Makefile
/source/maxsimplex/maxsimplex
test/run_tests
CoCoA
/Qexample/Makefile.in
/Qsource/Makefile.in
/Qtest/Makefile.in
/source/genEhrhart/Makefile
/source/libnormaliz/Makefile
/source/libnormaliz/libnormaliz.so*
/source/genEhrhart/*

