*~
*.tmp

# ignore normaliz executables
normaliz
normaliz_*

# ignore executable tools
collectcols
transpose

# ignore object files
obj*
*.[ao]
BUILD*

# ignore normaliz output files
*.out
*.intOut
*.gen
*.egn
*.cst
*.ht1
*.esp
*.ext
*.typ
*.tri
*.tgn
*.dec
*.inv
*.lat
*.mod
*.aut
*.fac
*.inc
test/Dummy/*

# ignore temporary test files
test/*/*.ref_1
test/*/*.out_1

# ignore latex output files
*.ps
*.dvi
*.aux
*.idx
*.toc
*.log
*.backup
*.gz
*.blg
*.bbl

# ignore gperftools
source/gperftools/*

# ignore WinEdt etc. backup files
*.bak
*.sav
.*.swp
*.diff

# ignore bindist files
/.travis_ci_bindist_deploy_key
/.travis_ci_bindist_deploy_key.pub
/.bindist-vars*

# build files etc.
homepage/*-Dateien/*
nmz_opt_lib/*
local/*
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/cnf/
/libtool
/config.status
/configure
.deps
.libs
.dirstamp
*.la
*.lo
CoCoA
/example/Makefile
/example/Makefile.in
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/Qexample/Makefile
/Qexample/Makefile.in
/Qsource/Makefile
/Qsource/Makefile.in
/Qtest/Makefile
/Qtest/Makefile.in
/Qtest/run_tests
/source/dynamic/dynamic
/source/genEhrhart/*
/source/genEhrhart/Makefile
/source/libnormaliz/libnormaliz.so*
/source/libnormaliz/Makefile
/source/libnormaliz/nmz_config.h
/source/libnormaliz/version.h
/source/Makefile
/source/Makefile.in
/source/maxsimplex/maxsimplex
/source/outerpar/outerpar
/test/Makefile
/test/Makefile.in
/test/run_tests
/test/unittests
/test/*.trs
/source/lib_test/*
/source/Gorenstein/*
/source/Makefile.Winfried
/source/renf_test/*
/source/Gorenstein/*
/source/Winfried/*
/source/Makefile.Winfried
numberfield/*
/source/chunk/chunk
/source/chunk/add_chunks
/source/chunk/scheduler*

/build

/temp/*

/PyNormaliz/
