*~

# ignore normaliz executables
norm32*
norm64*
normbig*
normaliz
normaliz-*
nmzIntegrate

# ignore executable tools
collectcols
transpose

# ignore object files
obj*
*.[ao]
BUILD*

# ignore normaliz output files
*.out
*.intOut
*.gen
*.egn
*.cst
*.ht1
*.esp
*.ext
*.typ
*.tri
*.tgn
*.dec
*.inv


# ignore latex output files
*.pdf
*.ps
*.dvi
*.aux
*.idx
*.toc
*.log
*.backup
*.gz

# ignore WinEdt etc. backup files
*.bak
*.sav
.*.swp
*.diff
