dist: bionic

language: cpp

compiler: gcc

env:
  global:
    - INSTALLDIR=${PWD}/local
    - CPPFLAGS="-I${INSTALLDIR}/include"
    - LDFLAGS="-L${INSTALLDIR}/lib"

addons:
  apt:
    packages:
      - libgmp-dev          # version 6.0.2 in Ubuntu 18.04 Bionic
      - libomp-dev          # for OpenMP support in clang
      - libmpfr-dev         # version 4.0.1 in Ubuntu 18.04 Bionic
      - libflint-dev        # version 2.5.2 in Ubuntu 18.04 Bionic

      # Debian in its infinite wisdom renamed libarb to libflint-arb,
      # which means e-antic won't find it (unless we patch it); so we
      # don't bother with it for now :-(
      # - libflint-arb-dev    # version 2.11.1 in Ubuntu 18.04 Bionic

      # Ubuntu's libnauty2-dev is stuck at version 2.6.10; also they modified
      # nauty to turn it into an installable library; using it this way may
      # require changes on our side (probably not hard, and worthwhile, but
      # not for now)
      # - libnauty2-dev

      # Ubuntu has eantic starting Ubuntu 19.10 Eoan, but Travis only has
      # Ubuntu 18.04, so we can't use that
      # - libeantic0

matrix:
  include:
    - env: BUILDSYSTEM=makedistcheck NO_COVERAGE=1

    - env: BUILDSYSTEM=eantic-nauty-cocoa-extended
      install:
        - ./install_scripts_opt/install_nmz_nauty.sh
        # - ./install_scripts_opt/install_nmz_mpfr.sh
        # - ./install_scripts_opt/install_nmz_flint.sh
        - ./install_scripts_opt/install_nmz_arb.sh
        - ./install_scripts_opt/install_nmz_e-antic.sh
        - ./install_scripts_opt/install_nmz_cocoa.sh

    - env: BUILDSYSTEM=eantic-cocoa NO_OPENMP=yes
      install:
        - ./install_scripts_opt/install_nmz_mpfr.sh  # test the install script
        - ./install_scripts_opt/install_nmz_flint.sh  # test the install script
        - ./install_scripts_opt/install_nmz_arb.sh
        - ./install_scripts_opt/install_nmz_e-antic.sh
        - ./install_scripts_opt/install_nmz_cocoa.sh

    - env: BUILDSYSTEM=nauty NO_OPENMP=yes
      compiler: clang
      install:
        - ./install_scripts_opt/install_nmz_nauty.sh

    - env: BUILDSYSTEM=flint-cocoa
      compiler: clang
      install:
        # - ./install_scripts_opt/install_nmz_mpfr.sh
        # - ./install_scripts_opt/install_nmz_flint.sh
        - ./install_scripts_opt/install_nmz_cocoa.sh

    # test on default macOS system
    - env: BUILDSYSTEM=eantic-nauty
      os: osx
      compiler: clang
      addons:
        homebrew:
          update: true  # to get flint
          packages:
            - gmp
            - mpfr
            - flint
      install:
        - ./install_scripts_opt/install_nmz_nauty.sh
        # - ./install_scripts_opt/install_nmz_mpfr.sh
        # - ./install_scripts_opt/install_nmz_flint.sh
        - ./install_scripts_opt/install_nmz_arb.sh
        - ./install_scripts_opt/install_nmz_e-antic.sh

    ## Test on Mac OS X with LLVM from Homebrew for OpenMP support
    ## Build "static" Mac binary distribution and deploy to Normaliz-bindist
    ## (thus we set  NO_COVERAGE=1)
    - env: BUILDSYSTEM=cocoa-eantic-nauty-static CONFIGURE_FLAGS=--enable-openmp NO_COVERAGE=1
      os: osx
      compiler: clang
      addons:
        homebrew:
          update: true
          packages:
            - llvm
            - gmp
            - mpfr
            - flint
      before_install:
        - LLVMDIR="$(brew --prefix)/opt/llvm"
        - export PATH="${LLVMDIR}/bin/:$PATH"
        - export LDFLAGS="${LDFLAGS} -L${LLVMDIR}/lib -Wl,-rpath,${LLVMDIR}/lib"
      install:
        - ./install_scripts_opt/install_nmz_nauty.sh
        # - ./install_scripts_opt/install_nmz_mpfr.sh
        # - ./install_scripts_opt/install_nmz_flint.sh
        - ./install_scripts_opt/install_nmz_arb.sh
        - ./install_scripts_opt/install_nmz_e-antic.sh
        - ./install_scripts_opt/install_nmz_cocoa.sh
      after_success:
        - ./.make-bindist.sh

    # test on "old" macOS system
    - env: BUILDSYSTEM=nauty
      os: osx
      osx_image: xcode7.3
      compiler: clang
      addons:
        homebrew:
          packages:
            - gmp
      install:
        - ./install_scripts_opt/install_nmz_nauty.sh

branches:
  except:
    - gh-pages

script: ./.travis-build.sh

after_script:
  - rm -rf local nmz_opt_lib
  - bash <(curl -s https://codecov.io/bash)dist: bionic

language: cpp

compiler: gcc

env:
  global:
    - INSTALLDIR=${PWD}/local
    - CPPFLAGS="-I${INSTALLDIR}/include"
    - LDFLAGS="-L${INSTALLDIR}/lib"

# addons:
  # apt:
    # packages:
     #  - libgmp-dev          # version 6.0.2 in Ubuntu 18.04 Bionic
     # - libomp-dev          # for OpenMP support in clang
     # - libmpfr-dev         # version 4.0.1 in Ubuntu 18.04 Bionic
     # - libflint-dev        # version 2.5.2 in Ubuntu 18.04 Bionic

      # Debian in its infinite wisdom renamed libarb to libflint-arb,
      # which means e-antic won't find it (unless we patch it); so we
      # don't bother with it for now :-(
      # - libflint-arb-dev    # version 2.11.1 in Ubuntu 18.04 Bionic

      # Ubuntu's libnauty2-dev is stuck at version 2.6.10; also they modified
      # nauty to turn it into an installable library; using it this way may
      # require changes on our side (probably not hard, and worthwhile, but
      # not for now)
      # - libnauty2-dev

      # Ubuntu has eantic starting Ubuntu 19.10 Eoan, but Travis only has
      # Ubuntu 18.04, so we can't use that
      # - libeantic0

matrix:
  include:
    - env: BUILDSYSTEM=makedistcheck NO_COVERAGE=1
      addons:
        apt:
          packages:
            - libgmp-dev          # version 6.0.2 in Ubuntu 18.04 Bionic

    - env: BUILDSYSTEM=eantic-nauty-cocoa-extended
      addons:
        apt:
          packages:
            - libgmp-dev          # version 6.0.2 in Ubuntu 18.04 Bionic
            - libomp-dev          # for OpenMP support in clang
            - libmpfr-dev         # version 4.0.1 in Ubuntu 18.04 Bionic
            - libflint-dev        # version 2.5.2 in Ubuntu 18.04 Bionic
      install:
        - ./install_scripts_opt/install_nmz_nauty.sh
        # - ./install_scripts_opt/install_nmz_mpfr.sh
        # - ./install_scripts_opt/install_nmz_flint.sh
        - ./install_scripts_opt/install_nmz_arb.sh
        - ./install_scripts_opt/install_nmz_e-antic.sh
        - ./install_scripts_opt/install_nmz_cocoa.sh

    - env: BUILDSYSTEM=eantic-nauty-cocoa NO_OPENMP=yes
      addons:
        apt:
          packages:
            - libgmp-dev          # version 6.0.2 in Ubuntu 18.04 Bionic
            - libomp-dev          # for OpenMP support in clang
            - libmpfr-dev         # version 4.0.1 in Ubuntu 18.04 Bionic
            - libflint-dev        # version 2.5.2 in Ubuntu 18.04 Bionic
      install:
        - ./install_scripts_opt/install_nmz_nauty.sh
        # - ./install_scripts_opt/install_nmz_mpfr.sh  # test the install script
        # - ./install_scripts_opt/install_nmz_flint.sh  # test the install script
        - ./install_scripts_opt/install_nmz_arb.sh
        - ./install_scripts_opt/install_nmz_e-antic.sh
        - ./install_scripts_opt/install_nmz_cocoa.sh

    - env: BUILDSYSTEM=nauty NO_OPENMP=yes
      compiler: clang
      addons:
        apt:
          packages:
            - libgmp-dev
      install:
        - ./install_scripts_opt/install_nmz_nauty.sh

    - env: BUILDSYSTEM=flint-cocoa  NO_OPENMP=yes NO_COVERAGE=1
      dist: trusty
      compiler: clang
      addons:
        apt:
          packages:
            - libgmp-dev
      install:
        - ./install_scripts_opt/install_nmz_mpfr.sh
        - ./install_scripts_opt/install_nmz_flint.sh
        - ./install_scripts_opt/install_nmz_cocoa.sh

    # test on default macOS system
    - env: BUILDSYSTEM=eantic-nauty
      os: osx
      compiler: clang
      addons:
        homebrew:
          update: true  # to get flint
          packages:
            - gmp
            - mpfr
            - flint
      install:
        - ./install_scripts_opt/install_nmz_nauty.sh
        # - ./install_scripts_opt/install_nmz_mpfr.sh
        # - ./install_scripts_opt/install_nmz_flint.sh
        - ./install_scripts_opt/install_nmz_arb.sh
        - ./install_scripts_opt/install_nmz_e-antic.sh

    ## Test on Mac OS X with LLVM from Homebrew for OpenMP support
    ## Build "static" Mac binary distribution and deploy to Normaliz-bindist
    ## (thus we set  NO_COVERAGE=1)
    - env: BUILDSYSTEM=cocoa-eantic-nauty-static CONFIGURE_FLAGS=--enable-openmp NO_COVERAGE=1
      os: osx
      compiler: clang
      addons:
        homebrew:
          update: true
          packages:
            - llvm
            - gmp
            - mpfr
            - flint
      before_install:
        - LLVMDIR="$(brew --prefix)/opt/llvm"
        - export PATH="${LLVMDIR}/bin/:$PATH"
        - export LDFLAGS="${LDFLAGS} -L${LLVMDIR}/lib -Wl,-rpath,${LLVMDIR}/lib"
      install:
        - ./install_scripts_opt/install_nmz_nauty.sh
        # - ./install_scripts_opt/install_nmz_mpfr.sh
        # - ./install_scripts_opt/install_nmz_flint.sh
        - ./install_scripts_opt/install_nmz_arb.sh
        - ./install_scripts_opt/install_nmz_e-antic.sh
        - ./install_scripts_opt/install_nmz_cocoa.sh
      after_success:
        - ./.make-bindist.sh

    # test on "old" macOS system
    - env: BUILDSYSTEM=nauty
      os: osx
      osx_image: xcode7.3
      compiler: clang
      addons:
        homebrew:
          packages:
            - gmp
      install:
        - ./install_scripts_opt/install_nmz_nauty.sh

branches:
  except:
    - gh-pages

script: ./.travis-build.sh

after_script:
  - rm -rf local nmz_opt_lib
  - bash <(curl -s https://codecov.io/bash)
